<div class="container">	
	<p id="notice"><%= notice %></p>

	<h1>Welcome <%= @user.name %></h1>

	<br>

	<a href=<%= gym_path(1) %> class="user-button list-of-gyms">
		<h3 class="gym-text">NYSC</h3>
	</a>

	<a href=<%= new_schedule_path %> class="user-button schedule">
		<h3 class="schedule-text">Create a schedule</h3>
	</a>

</div>