// Place all the styles related to the gyms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "./application.scss";

.table-div {
	height: 300px;
	overflow: auto;
	width: 400px;
	margin: 0 auto;
	background-color: #DDDDDD;
	border-radius: 20px;
	font-size: 2em;
}

.gym-td {
	border-bottom: 1px solid black;
}

.workout {
	height: 100px;
	width: 40%;
	background: $color2;
	border: 1px solid black;
	margin: 0 auto;
	// margin-left: 200px;
	text-align: center;
}

.workout>h4 {
	position: relative;
	top: 15px;
}

.workout-nodes {
	margin: 0 auto;
	text-align: center;
}

.yolo {
	background-color: red;
}