// Place all the styles related to the gyms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-div {
	height: 300px;
	overflow: auto;
	width: 400px;
	margin: 0 auto;
	background-color: #DDDDDD;
	border-radius: 20px;
	font-size: 2em;
}

.gym-td {
	border-bottom: 1px solid black;
}